@import 'materialize-css/dist/css/materialize.min.css';
/* home */
.home-main{
    height: 450px;
    position: relative;
}
.field{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* card */
.card{
    height: 200px;
    position: relative;
}
.card-image{
    width: 20%;
    height: 70%;
    margin: auto;
}
.card-content{
    text-align: center;
}
/* input */
.input-background{
    height: 500px;
    position: relative;
}
.input-zone{
    width: 50%;
    height: 100%;
    margin: auto;
}
.collection-item{
    color:grey;
}
.right-align{
    float: right;
}
.detail-field{
    height: auto;
    position: relative;
}
.detail{
    height: 100%;
    width: 70%;
    margin: auto;
}
select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px grey;
    color: black;
}
